body{
	background:rgb(230,250,255);
	margin:0;
	overflow:hidden
}

/*header*/
#TopRow{
	width:2000px;
	background-color:blue;
	height:120px;
	position:absolute;
	z-index:-1;
	overflow:hidden;
}

#ScreenContainer{
	width:980px;
	margin:auto;
}

#TopMenuContainer{
	height:120px;	
	padding-left:50px;
}

#TopMenuLogoImg{
	width:130px;
	float:left;
}

#TopMenuCompanyText{
	font-size:45px;
	margin-left:200px;
	color:orange;
	font-weight:bold;
}

#TopMenuMenuBar{
	height:50px;
	width:600px;
	margin:auto;
	margin-left:500px;
}

#TopMenuMenuLinkFirst{
	margin-left:75px;
}

.TopMenuMenuLink{
	float:left;
	height:inherit;
	text-decoration:none;
}

.TopMenuMenuItem{
	text-decoration:none;
	font-size:20;
	color:orange;
	padding:15px;
	padding-bottom:12px;
	height:20px;
}

.TopMenuMenuItem:hover{
	border-bottom:5px solid rgb(80,80,255);
	
}

/*footer*/
#FooterContainer{
	width:2000px;
	height:1000px;
	margin:auto;
	background-color:blue;
	position:fixed;
	top:950px;
}

#Footer{

	height:20px;
	width:600px;
	margin:auto;
	
	padding-right:10px;
	padding-top:3px;
}

#Footer span{
	color:orange;
	float:right;
}

/*sale column*/
#SaleBack{
	height:225px;
	background:rgb(238,253,255);
	width:2000;
	position:fixed;
	left:0;
	z-index:-2;
}

#SaleContainer{
	width:750px;
	height:225px;
	margin:auto;
	background:rgb(220,243,245);
	position:relative;
	z-index:1;
}

#SaleImage{
	width:200px;
}

#SaleTitle{
	Color:red;
	position:fixed;
	top:150px;
	left:900px;
	font-size:35;	
	font-weight:bold;
}

#SaleSpecs{
	float:right;
	margin:80px 150px 0 0;
}

/*Home content*/
#ContentContainer{
	width:inherit;
	background:rgb(201,230,239);
	box-shadow:0px -10px 50px 1px black;
}

#carList{
	border:1px solid red;
	width:55%;
	float:left;
	margin-top:80px;
	min-height:80px;
}

#longcarlist{
	list-style-type:none;
	margin:0;
	padding:0;
}

#longcarlist li{
	margin:0;
}

.singlecardiv{
	border:1px solid green;
	padding:0 80px 0 60px;
}

.singlecardiv table{
	border-collapse:separate;
}

.singlecardiv .singlecarspecs{	
	padding-left:60px;
	width:100px
}

.singlecarimg{
	max-height:60px;

}

/*admin content*/
#Admin_head{
	margin:auto;
	margin-top:40px;
	width:20%;
}

#Admin_Main_container{
	width:55%;
	margin:70px auto;
}

#Admin_Main_list{
	list-style-type:none;
	width:50%;
	margin:auto;
	padding:0;
}

#Admin_Main_list li{
	margin-top:10px;
	text-align:center;
}

#Admin_Main_list div{
	width:100%;
	background:rgb(210,230,230);
	border:3px solid rgb(200, 220, 220);
	height:30px;
	
}

#Admin_Main_list div:hover{
	background:rgb(200,220,220);
}

#Admin_Main_list a{
	text-decoration:none;
	color:inherit;
	font-weight:bold;
}

#container_auto_add{
	width:55%;
	margin:auto;
	margin-top:50px;
}

#table_auto_add{
	margin:auto;
	border-collapse: separate;
	border-spacing:30px 3px;
}

#table_auto_add td{
	text-align:right;
	
}