body{
	background:rgb(230,250,255);
	margin:0;
	overflow:hidden
}


/*header*/
#TopRow{
	width:100%;
	background-color:blue;
	height:120px;
	position:absolute;
	z-index:-1;
	overflow:hidden;
}

#ScreenContainer{
	width:980px;
	margin:auto;
}

#TopMenuContainer{
	height:120px;
}

#TopMenuLogoImg{
	width:130px;
	float:left;
}

#TopMenuCompanyText{
	font-size:45px;
	margin-left:200px;
	color:orange;
	font-weight:bold;
}

#TopMenuMenuBar{
	height:50px;
	width:700px;
	margin:auto;
	margin-left:350px;
}

#TopMenuMenuLinkFirst{
	margin-left:75px;
}

.TopMenuMenuLink{
	float:left;
	height:inherit;
	text-decoration:none;
}

.TopMenuMenuItem{
	text-decoration:none;
	font-size:20px;
	color:orange;
	padding:15px;
	padding-bottom:12px;
	height:20px;
}

.TopMenuMenuItem:hover{
	border-bottom:5px solid rgb(80,80,255);
}

/*BreadCrumb*/
#BreadCrumb{
    color:orange;
    background:rgb(220,243,245);
    margin:auto;
    max-width: 200px;
    position: relative;
}

/*footer*/
#FooterContainer{
	width:100%;
	height:50px;
	margin:auto;
	background-color:blue;
	position:fixed;
	top:950px;
}

#Footer{

	height:20px;
	width:600px;
	margin:auto;
	padding-right:10px;
	padding-top:3px;
}

#Footer span{
	color:orange;
	float:right;
}

/*sale column*/
#SaleBack{
	height:225px;
	background:rgb(238,253,255);
	width:100%;
	position:fixed;
	left:0;
	z-index:-2;
}

#SaleContainer{
	width:750px;
	height:225px;
	background:rgb(220,243,245);
	position:relative;
	z-index:1;
}

#SaleImage{
	width:200px;
	max-height:180px;
	padding-left:50px
}

#saleimage img{
	min-width:180px;
	max-height:180px;
}

#saleselect{
	margin:auto;
}

#SaleTitle{
	Color:red;
	font-size:35px;
	font-weight:bold;
	vertical-align:top;
	text-align:center;
	padding-top:25px;
}

#SaleSpecs{
	float:left;
	list-style-type:none;
}

/*Home content*/
#ContentContainer{
	width:inherit;
    padding-top:50px;
    height: 750px;
    overflow-y: auto;
}

#carList{
	border:2px solid rgb(190,210,210);
	min-width:55%;
	float:left;
	margin-top:80px;
	min-height:80px;
}

#longcarlist{
	list-style-type:none;
	margin:0;
	padding:0;
}

#longcarlist li{
	margin:0;
}

.singlecardiv{
	border-bottom:2px solid rgb(200,220,220);
	padding:0 0 0 60px;
}

.singlecardiv table{
	border-collapse:separate;
}

.singlecardiv .singlecarspecs{	
	padding-left:60px;
}

.singlecardiv tr{
	max-height:10px;
}

.singlecardiv td{
	max-height:10px;
}

.singlecarselect{
	padding-left:50px;
}

.singlecarvalue{
	min-width:70px;
	max-width:70px;
}

.SingleCarImage{
	max-height:100px;
}

/*admin content*/
#Admin_head{
	margin:auto;
	margin-top:40px;
	width:20%;
}

#Admin_Main_container{
	width:55%;
	margin:70px auto;
}

#Admin_Main_list{
	list-style-type:none;
	width:50%;
	margin:auto;
	padding:0;
}

#Admin_Main_list li{
	margin-top:10px;
	text-align:center;
}

#Admin_Main_list div{
	width:100%;
	background:rgb(210,230,230);
	border:3px solid rgb(200, 220, 220);
	height:30px;
	
}

#Admin_Main_list div:hover{
	background:rgb(200,220,220);
}

#Admin_Main_list a{
	text-decoration:none;
	color:inherit;
	font-weight:bold;
}

#container_auto_add{
	width:55%;
	margin:auto;
	margin-top:50px;
}

#table_auto_add{
	margin:auto;
	border-collapse: separate;
	border-spacing:30px 3px;
}

#table_auto_add td{
	text-align:right;
}

.DetailsContainer{
    width:50%;
    margin:auto;
}
.DetailsImageDiv{
    float:left;
    margin-top:50px;
}
.DetailsImage{
    max-width:250px;
    min-width:150px;
}

.DetailsSpecs{
    float:right;
    margin-top:50px;
}

.UserPerson{
    margin:30px 50px;
    width: 300px;
    text-align: center;
}

.UserBuys{
    margin:auto;
    margin-top:50px;
    width:50%;
    overflow-y:scroll;
    max-height: 460px;
}

.UserEmptyBuys{
    margin:auto;
    margin-top: 80px;
    width:150px;
    font-weight: bold;
}

#OrderTable{
    border-collapse: separate;
    border-spacing: 0px 5px;
}

#OrderTable th{
    text-align: right;
    border-bottom: 2px solid black;
}

#OrderTable td{
    text-align: right;
    border-bottom: 1px solid black;
}

#OrderTable #OrderTotal td{
    border-top:1px solid black;
    border-bottom: 0;
    font-weight: bold;
}

#ShopTypeTree{
    box-shadow: 2px 2px 5px  #131313;
    max-width: 400px;
    min-width: 300px;
    float: left;
    overflow: auto;

}

#ShopTypeTree ul a, #ShopTypeTree li {
    color: orange;
    list-style: none;
}

#ShopCarList{
    float:right;
}


::-webkit-scrollbar {
    width: 8px;
    height:8px;
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
    height:100px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #000000;
}

::-webkit-scrollbar-thumb:horizontal {
    width:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #000000;
}